@model List<PRODUCTS1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add To Card</title>
    <script src="https://kit.fontawesome.com/5563866a19.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Products-Images/@item.ImageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@item.Price</li>
                    </ul>
                    <div class="card-body">
                        <button id="@item.Id" class="btn btn-success addCard">Add to Card</button>
                    </div>
                </div>
            }
        </div>
    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/JS/script.js"></script>


</html>



